<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>EOLT_add</title>
</head>
<body>
<div class="navigator">
    <div class="nav-sec">
        <img src="#" th:src="@{/photos/aptiv.png}" height="48" alt="aptiv"/>

    </div>
    <div class="nav-sec">
        <a th:href="@{/eolt}">Eolt</a>
    </div>

</div>

<div class="bg">
    <br>

</div>

<!-- * private String eoltName;
        private String location;
        private String assetNumber;
        private String AR;
        private String netName;
        private String macAdress;
        private Integer productionYear;
        private SupplierName supplierName;
        private SystemVersion systemVersion;
        private String documentationLink;-->

<div class="add-form">
    <form action="/eolt/add" method="post" th:object="${eoltDtoForm}">
        <label for="eoltName">eoltName</label>
        <input id="eoltName" type="text" th:field="*{eoltName}">
<br/>
        <label for="location">location</label>
        <input id="location" type="text" th:field="*{location}">
        <br/>
        <label for="assetNumber">assetNumber</label>
        <input id="assetNumber" type="text" th:field="*{assetNumber}">
        <br/>
        <label for="AR">AR</label>
        <input id="AR" type="text" th:field="*{AR}">
        <br/>
        <label for="netName">netName</label>
        <input id="netName" type="text" th:field="*{netName}">
        <br/>
        <label for="macAdress">macAdress</label>
        <input id="macAdress" type="text" th:field="*{macAdress}">
        <br/>
        <label for="productionYear">productionYear</label>
        <input id="productionYear" type="text" th:field="*{productionYear}">
        <br/>
        <label for="supplierName">supplierName</label>
        <input id="supplierName" type="text" th:field="*{supplierName}">
        <br/>
        <label for="systemVersion">systemVersion</label>
        <input id="systemVersion" type="text" th:field="*{systemVersion}">
        <br/>
        <label for="documentationLink">documentationLink</label>
        <input id="documentationLink" type="text" th:field="*{documentationLink}">
        <br/>
        <input type="submit" value="Add">
    </form>
</div>

</body>
</html>

