<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>EOLT</title>
</head>
<body>
<div class ="navigator">
    <img src="#" th:src="@{/photos/aptiv.jpg}" height="48"  alt="aptiv"/>

</div>

<div class="bg">
    <h1>EOLT</h1>
</div>
<form action="/eolt/add" method="post" th:object="${eoltDtoForm}">
    <label for="eoltName">eoltName</label>
    <input id="eoltName" type="text" th:field="*{eoltName}" >
    <label for="location">location</label>
    <input id="location" type="text" th:field="*{location}" >
    <input type="submit" value="Add">
</form>
<br/>
<table id="eolt-table">
    <tr>
        <th>EoltName</th>
        <th>Location</th>
        <th>Link</th>
        <th>Delete</th>
        <th>Copy</th>

    </tr>
    <tr th:each="eoltDto:${eoltDtoList}">
        <td th:text="${eoltDto.getEoltName()}"></td>
        <td th:text="${eoltDto.getLocation()}"></td>
        <td><a href="#" th:href="@{/eolt/detailed(eoltName2=${eoltDto.getEoltName()})}"
               th:text="${eoltDto.getEoltName()}"> Link 1</a></td>
        <td>
            <form action="/eolt/delete" method="post" th:object="${eoltDtoForm}">
                <input type="hidden" name="deleteEolt" th:value="${eoltDto.getEoltName()}"/>
                <button name="action" value="delete">Delete</button>
            </form>
        </td>
        <td>
            <form action="/eolt/copy" method="post" th:object="${eoltDtoForm}">
                <input type="hidden" name="copyEolt" th:value="${eoltDto.getEoltName()}"/>
                <button name="action" value="copy">Copy</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>

