<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{todo.app.name}">Title</title>
</head>
<body>
<div class="row mt-3" th:fragment="header">
    <div class="col">

        <a href="https://aptiv.com" target="_blank" title="https://aptiv.com">
            <img src="#" th:src="@{/photos/delphi.png}" width="200" height="45" alt="aptiv"/>
        </a>
        <a th:align="right" th:href="@{/eolt}">EoltList</a>

    </div>

    <div class="col">

        <div th:if="${#authorization.expression('isAuthenticated()')}" class="float-right">
            <span th:text="#{user.greeting(${#authentication.principal.firstName})}"></span>
            <a th:href="@{/account}" class="ml-2 mr-2 text-secondary"><i class="fas fa-cog"></i></a>
            <a th:href="@{/logout}" th:text="#{user.security.logout}" class="btn btn-outline-secondary btn-sm ml-3">Logout</a>
        </div>
    </div>
    <div class="navigator">
        <!-- <div class="nav-sec">
             <img src="#" th:src="@{/photos/delphi_com.png}" height="18" alt="aptiv"/>

         </div>-->
        <div class="nav-sec">
         </div>

    </div>
</div>

<div class="row mt-3" th:fragment="header_with_Lang">
    <div class="col">

        <a href="https://aptiv.com" target="_blank" title="https://aptiv.com">
            <img src="#" th:src="@{/photos/delphi.png}" width="200" height="45" alt="aptiv"/>
        </a>
        <a th:align="right" th:href="@{/eolt}">EoltList</a>

    </div>

    <div class="col">
        <a href="?lang=en_GB" th:text="#{language.english}"></a>&nbsp;|&nbsp;
        <a href="?lang=de_DE" th:text="#{language.german}"></a>&nbsp;|&nbsp;
        <a href="?lang=pl_PL" th:text="#{language.polish}"></a>

    </div>
    <div class="col">

        <div th:if="${#authorization.expression('isAuthenticated()')}" class="float-right">
            <span th:text="#{user.greeting(${#authentication.principal.firstName})}"></span>
            <a th:href="@{/account}" class="ml-2 mr-2 text-secondary"><i class="fas fa-cog"></i></a>
            <a th:href="@{/logout}" th:text="#{user.security.logout}" class="btn btn-outline-secondary btn-sm ml-3">Logout</a>
        </div>
    </div>
    <div class="navigator">
        <!-- <div class="nav-sec">
             <img src="#" th:src="@{/photos/delphi_com.png}" height="18" alt="aptiv"/>

         </div>-->
        <div class="nav-sec">
         </div>

    </div>
</div>
<div th:fragment="footer">

    <a href="https://aptiv.com" target="_blank" title="https://aptiv.com">
        <img src="#" th:src="@{/photos/aptiv.png}" width="18" height="50" alt="aptiv"/>
    </a>


</div>
</body>
</html>