<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:replace="~{layout :: layout(~{::content})}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title th:text="#{todo.app.name}">Variant details</title>
</head>
<body>
<div th:fragment="content">

<h1 th:text="${myChoosenVariant}">Variant details</h1>


<div class="add-form">
    <form th:action="@{/variant/update(eoltName=${eoltName},updateVariant=${myChoosenVariant})}" method="post"
          th:object="${variantDtoForm}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{variant.parameter}">Parameter</th>
                <th th:text="#{variant.value}">Value</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td><label for="dpn">Dpn</label></td>
                <td><input id="dpn" type="text" th:field="*{dpn}"></td>
            </tr>
            <tr>
                <td><label for="customer" th:text="#{variant.customer}">customer</label></td>
                <td><input id="customer" type="text" th:field="*{customer}"></td>
            </tr>
            <tr>
                <td><label for="machineCycleTime" th:text="#{variant.cycleTime}">machineCycleTime</label></td>
                <td><input id="machineCycleTime" type="text" th:field="*{machineCycleTime}"></td>
            </tr>
            <tr>
                <td><label for="fixture"th:text="#{variant.fixture}"> fixture</label></td>
                <td><input id="fixture" type="text" th:field="*{fixture}"></td>
            </tr>

            <tr>
                <td><label for="testEng"th:text="#{variant.testEng}">testEng</label></td>
                <td><input id="testEng" type="text" th:field="*{testEng}"></td>
            </tr>

            <tr>
                <td><label for="qualityEng"th:text="#{variant.qualityEng}">qualityEng</label></td>
                <td><input id="qualityEng" type="text" th:field="*{qualityEng}"></td>
            </tr>

            <tr>
                <td><label for="variantStatus"th:text="#{variant.variantStatus}">variantStatus</label></td>
                <td><input id="variantStatus" type="text" th:field="*{variantStatus}"></td>
            </tr>
            </tbody>
        </table>
        <div sec:authorize="hasRole('ROLE_TESTER')">
        <input type="submit" th:value="#{variant.update}">
            </div>
    </form>


    <h1>History</h1>

    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th th:text="#{variant.dpn}">Dpn</th>
            <th th:text="#{variant.customer}">Customer</th>
            <th th:text="#{variant.cycleTime}">MachineCycleTime</th>
            <th th:text="#{variant.fixture}">fixture</th>
            <th th:text="#{variant.testEng}">testEng</th>
            <th th:text="#{variant.qualityEng}">qualityEng</th>
            <th th:text="#{variant.variantStatus}">variantStatus</th>
            <th th:text="#{variant.date}">Date</th>
            <th th:text="#{variant.reason}">Reason</th>
            <th th:text="#{variant.desc}">Description</th>




        </tr>
        </thead>
        <tbody>
        <tr th:each="variantDto:${variantDtoList}">
            <td th:text="${variantDto.getDpn()}"> VariantName</td>
            <td th:text="${variantDto.getCustomer()}">Customer</td>
            <td th:text="${variantDto.getMachineCycleTime()}">MachineCycleTime</td>
            <td th:text="${variantDto.getFixture()}">Fixture</td>
            <td th:text="${variantDto.getTestEng()}">TestEng</td>
            <td th:text="${variantDto.getQualityEng()}">QualityEng</td>
            <td th:text="${variantDto.getVariantStatus()}">VariantStatus</td>
            <td th:text="${variantDto.getModificationDateTime()}">ModificationDate</td>
            <td th:text="${variantDto.getModificationReason()}">ModifcationReason</td>
            <td th:text="${variantDto.getDescriptionOfChange()}">ModifcationReason</td>

        </tr>
        </tbody>
    </table>


</div>

</div>
</body>
</html>