<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::content})}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title th:text="#{todo.app.name}">EOLT</title>
</head>
<body>
<div th:fragment="content">

    <h1>SEARCH RESULTS</h1>
    <h1 th:text="${searchStringForm.getSearchString()}"></h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th th:text="#{eolt.eoltName}">EoltName</th>
            <th th:text="#{eolt.location}">Location</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="eoltDto:${searchStringListForm}">
            <td th:text="${eoltDto.getEoltName()}"></td>
            <td th:text="${eoltDto.getLocation()}"></td>
            <td><a href="#" th:href="@{/eolt/detailed(eoltName2=${eoltDto.getEoltName()})}"
                   th:text="${eoltDto.getEoltName()}"> Link 1</a></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>

