<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Variant details</title>
</head>
<body>
<div class="navigator">
    <div class="nav-sec">
        <img src="#" th:src="@{/photos/aptiv.png}" height="18" alt="aptiv"/>

    </div>
    <div class="nav-sec">
        <a th:align="right" th:href="@{/eolt}">EoltList</a>
    </div>

</div>

<h1 th:text="${myChoosenVariant}">Variant details</h1>


<div class="add-form">
    <form th:action="@{/variant/update(eoltName=${eoltName},updateVariant=${myChoosenVariant})}" method="post"
          th:object="${variantDtoForm}">
        <table>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
            </tr>


            <tr>
                <td><label for="dpn">dpn</label></td>
                <td><input id="dpn" type="text" th:field="*{dpn}"></td>
            </tr>
            <tr>
                <td><label for="customer">customer</label></td>
                <td><input id="customer" type="text" th:field="*{customer}"></td>
            </tr>
            <tr>
                <td><label for="machineCycleTime">machineCycleTime</label></td>
                <td><input id="machineCycleTime" type="text" th:field="*{machineCycleTime}"></td>
            </tr>
            <tr>
                <td><label for="fixture"> fixture</label></td>
                <td><input id="fixture" type="text" th:field="*{fixture}"></td>
            </tr>

            <tr>
                <td><label for="testEng">testEng</label></td>
                <td><input id="testEng" type="text" th:field="*{testEng}"></td>
            </tr>

            <tr>
                <td><label for="qualityEng">qualityEng</label></td>
                <td><input id="qualityEng" type="text" th:field="*{qualityEng}"></td>
            </tr>

            <tr>
                <td><label for="variantStatus">variantStatus</label></td>
                <td><input id="variantStatus" type="text" th:field="*{variantStatus}"></td>
            </tr>
        </table>
        <input type="submit" value="UpdateVariant">
    </form>


    <h1>History</h1>

    <table>
        <tr>
            <th>Dpn</th>
            <th>Customer</th>
            <th>MachineCycleTime</th>
            <th>fixture</th>
            <th>testEng</th>
            <th>qualityEng</th>
            <th>variantStatus</th>
            <th>Date</th>
            <th>Reason</th>

        </tr>

        <tr th:each="variantDto:${variantDtoList}">
            <td th:text="${variantDto.getDpn()}"> VariantName</td>
            <td th:text="${variantDto.getCustomer()}">Customer</td>
            <td th:text="${variantDto.getMachineCycleTime()}">MachineCycleTime</td>
            <td th:text="${variantDto.getFixture()}">Fixture</td>
            <td th:text="${variantDto.getTestEng()}">TestEng</td>
            <td th:text="${variantDto.getQualityEng()}">QualityEng</td>
            <td th:text="${variantDto.getVariantStatus()}">VariantStatus</td>
            <td th:text="${variantDto.getModificationDateTime()}">ModificationDate</td>
            <td th:text="${variantDto.getModificationReason()}">ModifcationReason</td>
        </tr>
    </table>


</div>


</body>
</html>