<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Variant details</title>
</head>
<body>
<div class="navigator">
    <div class="nav-sec">
        <img src="#" th:src="@{/photos/aptiv.png}" height="48" alt="aptiv"/>

    </div>
    <div class="nav-sec">
        <a th:href="@{/eolt}">Eolt</a>
    </div>

</div>

<h1 th:text="${myChoosenVariant}">Variant details</h1>
</body>
</html>